<a href="https://colab.research.google.com/github/Mubeenazath12/Self-Projects/blob/main/Spam_mail_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as  pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

**Data Preprocessing**

In [ ]:
raw_mail_data=pd.read_csv('spam.csv',encoding = "ISO-8859-1")
#replace the null value with null string
mail_data=raw_mail_data.where((pd.notnull(raw_mail_data)), '')

In [ ]:
mail_data.shape

(5572, 5)

In [ ]:
#Spam mail as 0 ; Non-spam mail as 1
mail_data.rename(columns = {'v1':'Category'}, inplace = True)

In [ ]:
mail_data

,Category,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,,,
5568,ham,Will Ì_ b going to esplanade fr home?,,,
5569,ham,"Pity, * was in mood for that. So...any other s...",,,
5570,ham,The guy did some bitching but I acted like i'd...,,,
5571,ham,Rofl. Its true to its name,,,

In [ ]:
mail_data.head()

,Category,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [ ]:
mail_data.loc[mail_data["Category"]=='spam','Category',]=0
mail_data.loc[mail_data["Category"]=='ham','Category',]=1

In [ ]:
mail_data

,Category,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,1,"Go until jurong point, crazy.. Available only ...",,,
1,1,Ok lar... Joking wif u oni...,,,
2,0,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,1,U dun say so early hor... U c already then say...,,,
4,1,"Nah I don't think he goes to usf, he lives aro...",,,
...,...,...,...,...,...
5567,0,This is the 2nd time we have tried 2 contact u...,,,
5568,1,Will Ì_ b going to esplanade fr home?,,,
5569,1,"Pity, * was in mood for that. So...any other s...",,,
5570,1,The guy did some bitching but I acted like i'd...,,,
5571,1,Rofl. Its true to its name,,,

In [ ]:
mail_data.loc[mail_data['Category']=='spam','Category',]=0
mail_data.loc[mail_data['Category']=='ham','Category',]=1

In [ ]:
mail_data.head()

,Category,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,1,"Go until jurong point, crazy.. Available only ...",,,
1,1,Ok lar... Joking wif u oni...,,,
2,0,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,1,U dun say so early hor... U c already then say...,,,
4,1,"Nah I don't think he goes to usf, he lives aro...",,,

In [ ]:
mail_data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)

     Category                                                 v2
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1              Will Ì_ b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [ ]:
X=mail_data["v2"]
Y=mail_data["Category"]

In [ ]:
print(X)
print('**********************************')
print(Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object
**********************************
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

Train Test Split

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.8,test_size=0.2,random_state=3)

Feature Extraction

In [ ]:
#Transform the text to feature vectors (input to SVM Model )
# Convert text to lower case letter
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
X_train_features=feature_extraction.fit_transform(X_train)
X_test_features=feature_extraction.transform(X_test)
#convert y_train and Y_test as int
Y_train=Y_train.astype('int')
Y_test=Y_test.astype('int')

Training the model->SVM

In [ ]:
model=LinearSVC()
model.fit(X_train_features,Y_train)

LinearSVC()

Evaluation of model

In [ ]:
pred_on_training_data=model.predict(X_train_features)
accuracy_on_training_data=accuracy_score(Y_train,pred_on_training_data)

In [ ]:
print('Accuracy on training data:',pred_on_training_data)

Accuracy on training data: [1 1 1 ... 1 1 1]

**Prediction on new mail**

In [ ]:
input_mail=["Ok lar... Joking wif u oni...,,,"]
#Convert text to feature vectors
input_mail_features=feature_extraction.transform(input_mail)
prediction=model.predict(input_mail_features)

In [ ]:

if prediction[0]==1:
  print('HAM MAIL')
else:
  print('SPAM MAIL')

HAM MAIL